.description {
    padding: 23px;
    padding-right: 30px;
    h1 {
      
      font-size: 24px;
      font-weight: 400;
      margin-top: 0px;
    }
    p {
      color: #6d6e7b;
  
      font-size: 20px;
      line-height: 18px;
    }
  }


  